<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        /* Estilos adicionais, se necessário */
        .usuario-fields {
            margin-bottom: 20px;
            /* Margem inferior entre as divs */
        }

        .botoes-cadastro {
            margin-top: 20px;
            /* Espaço entre os campos e os botões */
        }
        .input-error {
            border-color: red !important; /* Cor da borda em caso de erro */
          }
    </style>
</head>

<body>

    <section class="section">
        <div class="container">
            <h1 class="title">Cadastro de Usuário</h1>

            <div class="field">
                <label class="label">Tipo de Usuário</label>
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="tipo_usuario" value="pf" checked>
                        Pessoa Física
                    </label>
                    <label class="radio">
                        <input type="radio" name="tipo_usuario" value="pj">
                        Pessoa Jurídica
                    </label>
                </div>
            </div>

            <!-- Campos para Pessoa Física -->
            <div id="usuarioPFFields">
                <div class="field">
                    <label class="label">Nome</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Seu nome">
                    </div>
                </div>
                <div class="field">
                    <label class="label">CPF</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Seu CPF">
                    </div>
                </div>
                <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Seu email">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Senha</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="Sua senha">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Confirmar Senha</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="Confirme sua senha">
                    </div>
                </div>
            </div>

            <!-- Campos para Pessoa Jurídica -->
            <div id="usuarioPJFields" style="display: none;">
                <div class="field">
                    <label class="label">Nome Fantasia</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Seu nome fantasia">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Razão Social</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Sua razão social">
                    </div>
                </div>
                <div class="field">
                    <label class="label">CNPJ</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Seu CNPJ">
                    </div>
                </div>
                <div class="field">
                    <label class="label">E-mail</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Seu email">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Senha</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="Sua senha">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Confirmar Senha</label>
                    <div class="control">
                        <input class="input" type="password" placeholder="Confirme sua senha">
                    </div>
                </div>
            </div>

            <!-- Botões de cadastro e cancelar -->
            <div class="field is-grouped botoes-cadastro">
                <div class="control">
                  <button class="button is-primary" onclick="cadastrarUsuario()">Cadastrar</button>
                </div>
                <div class="control">
                  <button class="button is-text" onclick="voltarParaLogin()">Cancelar</button>
                </div>
              </div>
            </div>
    </section>

    <!-- Script da tela de cadastro -->
    <script src="/scripts/cadastroLogin.js"></script>

</body>

</html>