<nav class="navbar is-black">
  <div class="navbar-brand">
    <a class="navbar-item" href="/index">Página Inicial</a>
    <a class="navbar-item" href="/clientes">Clientes</a>
    <a class="navbar-item" href="/fornecedores">Fornecedores</a>
    <a class="navbar-item" href="/produtos">Produtos</a>
    <a class="navbar-item" href="/estoque">Estoque</a>
    <a class="navbar-item" href="/vendas">Vender</a>
    <a class="navbar-item" href="/compras">Comprar</a>
    <a class="navbar-item" href="/fluxodecaixa">Fluxo de Caixa</a>
  </div>

  <div class="navbar-brand navbar-end">
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">Opções</a>
      <div class="navbar-dropdown">
        <a class="navbar-item" href="/perfil">Minha conta</a>
        <a class="navbar-item" href="/login">Sair</a>
      </div>
    </div>
  </div>
</nav>

<!-- &#9881; Ícone configurações -->